.tiptap-wrap {
    .v-card {
        border: $in-border !important;
        border-radius: 5px !important;
        box-shadow: none !important;

        .v-btn {
            height: 20px;
            width: 20px;
        }

        .v-btn--fab.v-size--default .v-icon,
        .v-btn--fab.v-size--small .v-icon,
        .v-btn--icon.v-size--default .v-icon,
        .v-btn--icon.v-size--small .v-icon {
            font-size: 14px;
        }
    }

    header {
        background-color: transparent; // resolve border radius overlap
        border-bottom: $in-border !important;
    }
}